* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {  
    background-color: white;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}
ul {  
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0px auto;
    padding: 0px 12px;
}
.d-flex{
    font-family: 'Source Sans 3', sans-serif;
    display: flex;
    justify-content: space-between;
}

.nosotros-titulo{
    font-family:  'Libre Baskerville', serif;
    padding-left: 530px;
    color: #37A298;
    font-size: 30px;
}

.tayis-logo{
    margin-left: 280px;
}

.ofertas-titulo{
    font-family:  'Libre Baskerville', serif;
    padding-left: 530px;
    color: #37A298;
    padding-top: 200px;
    font-size: 30px;
}

.productos-titulo{
    font-family:  'Libre Baskerville', serif;
    padding-left: 530px;
    padding-top: 200px;
    color: #37A298;
    font-size: 30px;
}

.contactanos-titulo{
    font-family:  'Libre Baskerville', serif;
    text-align: center ;
    padding-top: 200px;
    color: #ffffff;
    font-size: 30px;
}

.contactanos-texto{
    font-family:  'Libre Baskerville', serif;
    margin-top: 16px;
    text-align: center ;
    color: #ffffff;
    font-size: 18px;
}

.nosotros-text{
    font-family: 'Source Sans 3', sans-serif;
    font-size: 18px;
    text-align: center;
}

.Tres-por-dos{
    /*width: ;*/
    height: 500px;
}

nav{
    background-color: #37A298;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
    width: 100%;
    position: fixed;
    
    z-index: 20000;
}

nav ul{
    display: flex;
    width: 585px;    
    justify-content: space-evenly;
    align-items: center;
}

nav a{
    color: whitesmoke;
}

#nosotros{
    padding-top: 200px;
    font-family: 'Libre Baskerville', serif;  
}

.cta{
    width: 117px;
    height: 47px;
    line-height: 47px;
    background-color: cadetblue;
    color: #ffffff;
    display: block;
    text-align: center;
    font-size: 18px;
    border-radius: 4px;
}
.cta:hover{
    background-color: rgb(17, 17, 35);
}

.comprar{
    width: 250px;
    height: 50px;
    line-height: 47px;
    border:2px solid #939acd;
    color: #939acd;
    display: block;
    text-align: center;
    font-size: 18px;
    border-radius: 4px;
    margin: 0 auto;
} 
.comprar:hover{
    background-color: purple;
    color: #fff;
}

.galeria{
    display: flex;
    justify-content: space-around;
}

#portfolio{
    
    padding:96px 0 20px 0;
}
.tarjeta{
    width: 300px;
    background-color: whitesmoke;
    padding:5px 10px;
    border-radius: 3px;
    box-shadow: 1px 2px 3px #313131;
}

.basico{
    width: 300px;
    background-color: whitesmoke;
    padding:5px 10px;
    border-radius: 3px;
    box-shadow: 1px 2px 3px #313131;
    font-family: 'Libre Baskerville', serif;
    font-size: 12px;
}

.primium{
    width: 300px;
    background-color: whitesmoke;
    padding:5px 10px;
    border-radius: 3px;
    box-shadow: 1px 2px 3px #313131;
    font-family: 'Libre Baskerville', serif;
    font-size: 12px;
}

.especial{
    width: 300px;
    background-color: whitesmoke;
    padding:5px 10px;
    border-radius: 3px;
    box-shadow: 1px 2px 3px #313131;
    font-family: 'Libre Baskerville', serif;
    font-size: 12px;
}

.iniciales{
    width: 300px;
    background-color: whitesmoke;
    padding:5px 10px;
    border-radius: 3px;
    box-shadow: 1px 2px 3px #313131;
    font-family: 'Libre Baskerville', serif;
    font-size: 12px;
}

.lapiceras{
    width: 300px;
    background-color: whitesmoke;
    padding:5px 10px;
    border-radius: 3px;
    box-shadow: 1px 2px 3px #313131;
    font-family: 'Libre Baskerville', serif;
    font-size: 12px;
}

.cuadernos{
    width: 300px;
    background-color: whitesmoke;
    padding:5px 10px;
    border-radius: 3px;
    box-shadow: 1px 2px 3px #313131;
    font-family: 'Libre Baskerville', serif;
    font-size: 12px;
}

.pic1{
    background:url(img/3X2.jpg) no-repeat center scroll ; 
    background-size: cover;
    margin-left: 3px;
}

.pic2{
    background:url(img/regla-de-resina.jpg) no-repeat center scroll ;
    background-size: cover;
    margin-left: 3px;
}

.pic3{
    background:url(img/Cuaderno-de-resina.jpg) no-repeat center scroll ;
    background-size: cover;
    margin-left: 3px;
}

.pic4{
    background:url(img/Llavero-de-resina.jpg) no-repeat center scroll ;
    background-size: cover;
    margin-left: 3px;
}

.pic5{
    background:url(img/Utiles-Escolares-de-resina.jpg) no-repeat center scroll ;
    background-size: cover;
    margin-left: 3px;
}

.pic6{
    background:url(img/Fundas-Personalizadas.jpg) no-repeat center scroll ;
    background-size: cover;
    margin-left: 3px;
}

.link-img{
    display: block;
    width: 250px;
    height: 257px;
}

textarea {
    resize: none;
}

.ofertas_tarjetas{
    border: 12px double #939acd;
}

#myCarousel{
    top: 100px;
}

form{
    width: 600px;
    margin: 0 auto;
    padding: 8px 4px;
}

label{
    margin-bottom: 20px;
    color: #ffffff;
    border-radius:6px ;
    font-family: 'Libre Baskerville', serif;
    font-size: 18px;
    padding-top: 18px ;
}

.label,input, textarea {
    margin-bottom: 20px;
    width: 100%;
    display: block;
    border: none;
    border-radius: 6px;
    font-family: 'Libre Baskerville', serif;
    padding: 8px 4px;
}
.input,textarea{
    width: 100%;
    margin: 4px 0;
    border: none;
    border-radius: 6px;
    padding: 8px, 4px;
}
button{
    background-color: #ffffff;
    border: none;
    color: #939acd;
    margin-top: 16px;
    width: 120;
    height: 30px;
    cursor: pointer;
    font-family: 'Libre Baskerville', serif;
    border-radius: 6px;
}
button:hover{
    color: #ffffff;
    background-color: #939acd;

}

.fondo_lindo{
    background-color: #37A298;
    margin-block-start: 0px !important;
}

.pp{
    margin-block-end: 0px !important;
    font-family: 'Source Sans 3', sans-serif;
}

.CM{
    margin-top: 0%;
}

#salvacion{
    background-color: #fff;
}
.salvacion{
    background-color: #fff;
}

.pie-de-pagina{
    font-family: 'Source Sans 3', sans-serif;
    text-align: center ;
    padding-top: 20px;
}

body{
  background-color: #37A298;
}